.userList {
    width: 80vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.user-list {
    flex-basis: 50%;
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 1px solid #aaa;
    padding: 0 1rem;
}
.user-details {
    flex-basis: 50%;
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1rem;
}
.person{
    padding: .5rem;
    border: 1px solid #aaa;
    margin-top: .5rem;
    box-shadow: .15rem .15rem rgb(240, 238, 238);
    display: flex;
}

h3{
    margin: 0.05rem;
}

p{
    margin: 0.05rem;
}

img{
    width: 20%;
    height: 20%;

}

.info{
    padding-left: 1rem;
    text-align: left;
}

.info a{
    padding: 0rem;
}